body{
	font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
	padding: 0 55px;
	margin: 0;
	align-items:center;
	display: block;
	padding: 50px;
	padding-top: 150px;
}

section{
	align-items:center;
	display: flex;
	justify-content: center;
}

header{
	align-items:center;
	display: flex;
	justify-content: center;
	padding: 30px;
}

footer{
	align-items:center;
	display: block;
	margin: 40px;
	padding-top: 150px;
}

input{
	width: 85%;
	height: 100%;
	padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 15px;
}

button{
	background: url(../img/lupa.png) no-repeat center;;
	background-size: 21px 21px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    height: 100%;
    outline: none;
    padding: 0;
    pointer-events: auto;
    position: absolute;
    width: 10%;
}

.cent{
	width: 40%;
	position: relative;
	padding: 0 15px;
	border: none;
	border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.logo{
	width: 30%;
}

.bytext{
	text-align: center;
	color: rgba(0, 0, 0, 0.6);
	font-size: 15px;
}